html{
    height : 100%;
}

#un{
    margin-left: 2%;
    margin-top: 2%;
    font: normal 20px "Roboto", cursive;
    color: grey;
}

#deux{
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 2%
}

.test{
    position: absolute;
    top: 900px;
    left: 50px;
}

.custom-select {
  position: relative;
  font: normal 15px "Roboto", cursive;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: #483D8B;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: white;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #483D8B;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}









h1{
	font: normal 30px "Roboto", cursive;
	margin: 2%;
	margin-left: 3%;
	margin-top: 0%;
}

.p{
	font: normal 15px "Roboto", cursive;
	margin: 2%;
	margin-left: 3%;
	margin-top: 0%;
}


.bouton{
    background-color: #483D8B;
    font-size: 25px;

    color : white;
    position : relative;
    display : inline-flex;
    font-family: "Roboto";
    padding : 10px 20px;
    text-decoration: none;
    border:none;

}
    

.bouton:hover{
     box-shadow : 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
     opacity : 1;
}

.bloc_bouton{
    position : absolute;
    display : flex;
    justify-content : end;
    padding-right : 2%;
    margin-left: 30%;
    margin-bottom: 2%
}

    
.modifier{
    margin-left : 10%;
}




.titre{
    font-family : Roboto;
    font-weight : bold;
	font-size: 30px;
    position : relative;
    left : 0%;
    top : 5%;
    margin-top : 2%;
    margin-bottom : 5%;
}

.champs{
    display : flex;
    flex-direction : column;
}

.question_reponse{
    font-size : 25px;
    margin-bottom : 5%;
}




.bloc_bouton{
    position : relative;
    display : flex;
    justify-content : end;
    padding-right : 2%;
}



