*{
    font-family: Roboto;
}

#conversation {
    width: 300px;
    height: 400px;
    border: black 1px solid;
    background-color: #F5F5F5;
    overflow-x: hidden;
    overflow-y: scroll; 
    padding: 5px;
    margin-left: 10px;
  }


  fieldset {
    width: 330px;
    background-color: #DCDCDC;
    border: black 1px solid;
  }    