body
{
	color : black;
	background-color: white;
	font-family: "Roboto"; 
    margin-bottom: 60%;
    height: 100%;
}

input {
    background-color:white ; /*champs à remplir*/
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input:hover {
    background-color: white;
    color: black;
    
}

p{
    font-family: "Roboto";
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    top : 50px;
    left : 50px;
}

hr{
    color : rgb(105,105,15);
    margin-bottom: 8%;
    margin-top: -4%;
    border-top: 4% ;
    height: 5%;
}

#un
{
    position: absolute;
    top: 150px;
    left: 50px;
}
            
#deux
{
    position: absolute;
    top: 150px;
    left: 370px;
}
    
.bouton
{
background-color: #333;
font-size: medium;
color : white;
position : absolute;
top : 410px;
left : 370px;
width: 200px;
font-family: "Roboto";
}
