body
{
	color : black;
	background-color: white;
	font-family: "Roboto"; 
    margin-bottom: 60%;
    height: 100%;
}


input {
    background-color:white ; /*champs à remplir*/
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input:hover {
    background-color: white;
    color: black;
    
}

nav.page-accueil ul{
    
    
    cursor:auto;
    mix-blend-mode: multiply;
    
    font-size: 20px;
    margin-left: 0%;
    margin-right: 9%;
    margin-bottom: -13%;
    margin-top: -1%;
    color : #333;
    padding: 0;
    
    position: relative;
    
    overflow: hidden;
    z-index:2;
    list-style-type: none;
}


 nav.page-accueil ul li  {
    
    height: 20px; /*MAXI IMPORTANT à changer pour que le header soit ok*/
    float: left;
    margin: 2.5%;
    margin-right: -2.5%;
    display: inline-block;

}

 nav.page-accueil ul li.rubriques a  {
    
    color : white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    text-align: center;
    display: block;
    font-family: "Roboto";
        
}

 nav.page-accueil ul li.rubriques:hover a{
    color : grey;
    background-color: #483D8B;
    transition: 0.5s;
} 


.Paramètres-du-compte-titre p{
    font-family: "Roboto";
    border : 3px solid black;
    font-size: large;
    position: absolute;
    top : 800px;
    left : 30px;
    
}

hr{
    color : rgb(105,105,15);
    margin-bottom: 8%;
    margin-top: -4%;
    border-top: 4% ;
    height: 5%;
}

#un
{
    position: absolute;
    top: 150px;
    left: 50px;
}
            
#deux
{
    position: absolute;
    top: 150px;
    left: 370px;
}

       
.bouton
{
background-color: #333;
font-size: medium;
color : white;
position : absolute;
top : 410px;
left : 370px;
width: 200px;
font-family: "Roboto";
}
