html, body { /*QUAND ON EST DANS UNE RUBRIQUE*/
	margin: 0%;
	padding: 0px;
	height: 100%;
	width: 100%;
	background: white;
	font: bold 15% sans-serif;
	
	
}


h1{
	font: normal 30px "Roboto", cursive;
	margin: 2%;
	margin-left: 3%;
	margin-top: 0%;
}
p{
	font: normal 15px "Roboto", cursive;
	margin: 2%;
	margin-left: 3%;
	margin-top: 0%;
}


header div .bande {
	padding:0;
	background-color: #292c2f;


}
header div.menu{
	background-color: grey;
}

header nav.utilisateur ul{
	cursor:auto;
	font-size: 15px;
  	margin-right: 9%;
	margin-bottom: 1%; 
    padding: 0;
    position: relative;
	overflow: hidden;
	list-style-type: none;

}
header nav.utilisateur ul li  {
	
	float: left;
	margin: 0%;
	display: inline-block;


}

header nav.utilisateur ul li.rubriques a  {
	
	color : white;
	text-decoration: none;
	background-color: #292c2f;
	padding: 10px;
	text-align: center;
	display: block;
	font-family: "Roboto";
		
}

header nav.utilisateur ul li.rubriques:hover a{
	color : grey;
	transition: 0.5s;
} 


/*MENU*/
header nav.page-accueil ul{
	
	
	cursor:auto;
	font-size: 15px;
    margin-top: -1.5%;
    padding: 0;
	position: relative;
	overflow: hidden;
	list-style-type: none;

}


header nav.page-accueil ul li  {
	
	
	float: left;
	display: inline-block;

}

header nav.page-accueil ul li.rubriques a  {
	
	color : white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	text-align: center;
	display: block;
	font-family: "Roboto";
		
}

header nav.page-accueil ul li.rubriques:hover a{
	color : grey;
	background-color: #483D8B;
	transition: 0.5s;
} 



