@import url('https://fonts.googleapis.com/css?family=Oswald:500,600,700|Roboto');

body {
	margin: 0;
	background-color: grey;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    margin: 50px 0 0;
    color: #fff;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 70px 0 20px;
    width: 100%;
}

.acc h3 {
    font-size: 25px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    position: relative;
}

.acc h3:after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.acc.active h3:after {
	content: '-';
}

.content {
    background-color: #fff;
    display: none;
}

.content-inner {
    padding: 15px;
}

.content * {
    margin-top: 0;
    line-height: 1.5;
}

.acc {
    border-bottom: 1px solid #fff;
}





























html, body {
	margin: 0%;
	padding: 0px;
	height: 100%;
	width: 100%;
	background: white;
	font: bold 15% sans-serif;
	
	
}

h1{
	font: normal 30px "Roboto", cursive;
	z-index: 2;
	margin: 2%;
	margin-left: 3%;
	margin-top: 0%;
}
p{
	font: normal 15px "Roboto", cursive;
	z-index: 2;
	margin: 2%;
	margin-left: 3%;
	margin-top: 0%;
}

/*MENU*/
header nav.page-accueil ul{
	
	
	cursor:auto;
	mix-blend-mode: multiply;
	
	font-size: 20px;
  	margin-left: 0%;
  	margin-right: 9%;
  	margin-bottom: -13%;
  	margin-top: -1%;
    color : #333;
    padding: 0;
    
	position: relative;
	
	overflow: hidden;
	z-index:2;
	list-style-type: none;

	

}


header nav.page-accueil ul li  {
	
	height: 200px;
	float: left;
	margin: 2.5%;
	margin-right: -2.5%;
	display: inline-block;

}

header nav.page-accueil ul li.rubriques a  {
	
	color : white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	text-align: center;
	display: block;
	font-family: "Roboto";
		
}

header nav.page-accueil ul li.rubriques:hover a{
	color : grey;
	background-color: #483D8B;
	transition: 0.5s;
} 








/* FOOTER */
footer{
	position:fixed;
	bottom: 0%;
	height: 35%;

}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;
 	z-index: 2;
	padding: 55px 50px;
	margin-top: 80px;
	width: 100%;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
	margin-bottom: -13%;
	margin-top: -3%;
	margin-right: -3%;

}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #9370DB;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
	margin-top: 0%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #9370DB;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;

}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #9370DB;
	font-size: 13px;
	font-weight: normal;
	margin-right:-50%;

}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 

@media (max-width: 880px){

	footer.footer-distributed{
		font: bold 14px sans-serif;
		(max-width: 880px);
	}
 
	footer.footer-distributed .footer-left,
	footer.footer-distributed .footer-center,
	footer.footer-distributed .footer-right{
		display: block;
		width: fixed;
		margin-bottom: 40px;
		text-align: center;
	}
 
	footer.footer-distributed .footer-center i{
		margin-left: 0;
	}
	footer.main {
		line-height: normal;
		font-size: auto;
	}

footer.footer-distributed .footer-right iframe.API{
		
		font-size: 50px;
		
		width: 450px;
    height: 30px;
    margin: 10px auto;

}
}